.banner{
    display: flex;
    flex-direction: row;
}
.startNavbar{
   padding-top: .5rem;
   padding-left: 3rem;
   padding-right: 5rem;
   list-style: disc;
   background-color: #6667ab80; 
}
.navItems{
    padding-top: 2.2rem;
    padding-bottom: 2.5rem;
    color: #fefeff;
    opacity: 1;
}
/*Acá empiezan los modales*/
/*estos son los estilos comunes a todos los modales*/
.start-modal{
    width: 70%;
    margin: 9.55rem 0 2rem 18.2rem ;
    padding-left: 1rem;
    padding-right: 1rem; 
    padding-bottom: 0.9rem;   
    border-color: #d4cacd;
    background-color: #d4cacd;
    justify-content: center;
}
.modalStartClose-Btn{
    padding-left: 57rem;   
}
#closeBtn{
    margin-top: 0.5rem;
    padding: 0.2rem;
    border-radius: 5px;
    border-color: #bb2649;
    color: #bb2649;  
}
.seeker{
    width: 100%;
    padding: 1rem 2rem;
    position: relative;
    display: flex;
    margin: 0 ;
}  
.seekerTextBox{
    width: 100%;
    border: 0.1rem solid #bb2649;
    border-right: none;
    padding: 1rem;
    height: 1.5rem;
    border-radius: 5px 0 0 5px;
    outline: none;    
    font-size: 1rem;
}  
.seekerButton{
    width: 2rem; 
    border: 1px solid #bb2649;
    background: #bb2649;
    text-align: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 1rem;
}
.mag-glass{
    width: 1rem;
}
.Start-Form{
    padding: 0.5rem 2rem 1rem 2rem;  
}
.startRow-Form{
    width: 100%;
    padding: 1rem 0 1rem 0.5rem;   
}
.startRow-label{
    padding-right: 1rem;   
}
.start-input{
    border: 0.1rem solid #bb2649;
    height: 1rem;
    border: 0.1rem solid #bb2649;
    margin-left: 1rem;
    padding: 1rem;
    width: 35%;
    border-radius: 5px;
}
.start-Botones{
    padding: 1rem 2rem;
    width: 100%;
    list-style: none;
    display: flex;
}
.start-Botones li{
    flex-grow: 1;
    text-align: center;
}
.startForm-Btn{    
    border: 1px solid #bb2649;
    background: #bb2649;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    color: #ffffff;
    padding: 0.5rem 1rem;   
}
/*estos son los estilos del modal producto*/
.number{
    width: 7rem;
}
#sku-label{
    padding-left: 1rem;
}
.descripcion{
    width: 84%;
}
.date{
    width: 9rem;
}
.codigo-label{
    padding-left: 3rem;
}
.codigo-input{
    width: 45.9%;
}
.fecha{
    padding-left: 2rem;
}
.precio{
    padding-left: 1rem;
    padding-right: 1rem;
}
.Nuevo{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  /*estos son los estilos del modal cliente/proveedor*/
  #nombre-label{
    padding-left: 1.5rem;
    padding-right: 0.5rem;
  }
  #nombre-input{
    width: 8rem;
  }
  #apellido-label{
    padding-right: 0.5rem;
    padding-left: 2rem;
  }
  #apellido-input{
    width: 19.5rem;
  }
  #dni-Cuit{
    padding-left: 1.5rem;
  }
  #direccion-input{
    width: 85.3%;
  }
  #telefono-input{
    margin-left: 1.2rem;
    width: 7rem;
  }
  #email-label{
    padding-left: .5rem;
    padding-right: 0.2rem; 
  }
  #cumpleanios-label{
    padding-left: .3rem;
    padding-right: 0.5rem;
  }
  #cumpleanios-input{
    width: 8rem;
    margin-left: 0;
  }